 .u-section-1 {
  background-image: linear-gradient(black, #72683f);
}

.u-section-1 .u-sheet-1 {
  min-height: 717px;
}

.u-section-1 .u-group-1 {
  width: 300px;
  min-height: 284px;
  height: auto;
  margin: 124px auto 0 27px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-video-1 {
  width: 300px;
  height: 169px;
  margin: -284px auto 0 27px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-text-1 {
  margin: 27px 813px 0 27px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-top: 123px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 640px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-video-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 420px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 240px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 40px;
  }
}